.git
.github
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
docker-compose*.yml
Dockerfile
docker/
*.md
tests/
